<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#"
      xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta property="og:title" content="<!-- AShoptitle -->"/>
<meta property="og:description" content="<!-- AShopmetadescription -->"/>
<meta property="og:image" content="<!-- AShopimage -->"/>
<meta name="Author" content="" />
<meta name="Keywords" content="<!-- AShopmetakeywords -->" />
<meta name="Description" content="<!-- AShopmetadescription -->" />
<base href="<!-- AShopBaseURL -->/" />
<title><!-- AShoptitle --></title>
<link rel="stylesheet" href="<!-- AShopcss -->" type="text/css" />
<link rel="stylesheet" href="css/layout.css" />
<link rel="stylesheet" href="css/affiliate<!-- AShop_affiliate_id --><!-- /AShop_affiliate_id -->.css" />
<link rel="stylesheet" href="css/colorbox.css" />
<link rel="stylesheet" href="css/cookieconsent.css" />


<link rel="stylesheet" href="css/styles.css" />



</head>
<body>
<!-- AShopnewsletterform -->
<div class="wrapper">
  <div id="header">
    <table width="990" border="0" cellspacing="0" cellpadding="5" align="center">
      <tr>
        <td width="30%" style="padding-left: 20px;"><img src="images/logo.gif" alt="<!-- AShopname -->" /></td>
        <td width="70%" align="right" valign="bottom" class="bannerhead"><!-- AShopcustomerlinks --></td>
      </tr>
    </table>
  </div>
  <div class="menucontainer">
  <div class="menubar">
	<!-- AShopmenu -->
	<!-- /AShopmenu -->
 	<div style="float: right;">
	<table cellpadding="0" cellspacing="0" border="0"><tr><td align="left" valign="bottom" style="white-space:nowrap;"><form action="index.php" method="post" style="margin-bottom: 0px;"> <input class="ashopsearchfield" type="text" size="20" name="searchstring" /> <input type="hidden" name="shop" value="<!-- AShopmemberid -->"><input type="image" src="images/searchbutton.gif" style="vertical-align: bottom; border: none;" /></form></td></tr></table>
	</div>
 </div>
 </div>
 <div style="clear: both;"></div>
<div class="container">
	<table width="100%" border="0" cellspacing="0" cellpadding="0" style="padding-top: 16px;">
      <tr>
        <td width="180" valign="top" style="padding-left: 8px; padding-right: 8px;">
		<table class="ashopcategoriestable" cellspacing="0"><tr><td class="ashopcategoriesheader">&nbsp;&nbsp;<img src="images/caticon.gif" style="vertical-align: text-bottom;" alt="Cart" />&nbsp;&nbsp;&nbsp;Categories</td></tr>
		<tr><td class="ashopcategoriescontent">
		<!-- AShopcategories -->
		<!-- /AShopcategories -->
		</td></tr></table><br />

		<table class="ashopcategoriestable" cellspacing="0"><tr><td class="ashopcategoriesheader">&nbsp;&nbsp;<img src="images/caticon.gif" style="vertical-align: text-bottom;" alt="manufacturers" />&nbsp;&nbsp;&nbsp;Manufacturers</td></tr>
		<tr><td class="ashopcategoriescontent">
		<!-- AShopmanufacturers -->
		<!-- /AShopmanufacturers -->
		</td></tr></table><br />

		<table class="ashoptoplisttable" cellspacing="0"><tr><td class="ashoptoplistheader">&nbsp;&nbsp;&nbsp;Top 10</td></tr>
		<tr><td class="ashopboxcontent">
		<!-- AShoptoplist -->
		<!-- /AShoptoplist -->
		</td></tr></table><br />

		<table class="ashoptoplisttable" cellspacing="0"><tr><td class="ashoptoplistheader">&nbsp;&nbsp;&nbsp;Latest Additions</td></tr>
		<tr><td class="ashopboxcontent">
		<!-- AShoplatest -->
		<!-- /AShoplatest -->
		</td></tr></table><br />

		</td>
        <td valign="top" align="center">

		<!-- AShopstart -->
		<!-- AShopend -->

		</td>
        <td width="180" valign="top" style="padding-left: 8px; padding-right: 8px;">
		<table class="ashopboxtable" id="cartbox" cellspacing="0"><tr><td class="ashopboxheader">&nbsp;&nbsp;<img src="images/carticon.gif" style="vertical-align: text-bottom;" alt="Cart" />&nbsp;&nbsp;&nbsp;Your cart:</td></tr>
		<tr><td class="ashopboxcontent">
		
		<!-- AShopsubtotal -->
		
		<br /><br /><div align="center">
		
		<!-- AShopcartbuttons -->
		
		</div></td></tr></table><br />

		<table class="ashopboxtable" cellspacing="0"><tr><td class="ashopboxheader">&nbsp;&nbsp;&nbsp;Language</td></tr>
		<tr><td class="ashopboxcontent" align="center">
		
		<!-- AShoplanguages -->

		</td></tr></table><br />

		<table class="ashopboxtable" cellspacing="0"><tr><td class="ashopboxheader">&nbsp;&nbsp;&nbsp;Currency</td></tr>
		<tr><td class="ashopboxcontent" align="center">
		
		<!-- AShopcurrencies -->
		
		</td></tr></table><br />

		<table class="ashopboxtable" cellspacing="0"><tr><td class="ashopboxheader">&nbsp;&nbsp;&nbsp;News/Links</td></tr>
		<tr><td class="ashopboxcontent">
		
		<!-- AShopnews -->
		<!-- /AShopnews -->
		
		</td></tr></table>
		</td>
      </tr>
    </table></div>
            <div class="push"></div>

</div>





<div class="footerwrapper">

<!-- page footer top -->
			<footer class="page-footer-top">
				<div class="grid-row">
					<div class="grid-col grid-col-3">
<!-- about -->
						<div class="widget-alt widget-alt-about">
							<div class="head">About Us</div>
							<div class="cont">
								<ul>
									<li>Ut tincidunt nisl sapien, eget gravida quam vestibulum vitae. Ut ultrices purus quis tincidunt rutrum. Integer volutpat pretium tellus venenatis ornare. Proin commodo ipsum.</li>
									<li>Vestibulum vitae nisl quis elit tristique egestas eget sed nisi. Etiam mi sapien, luctus ac tempor quis, varius eu neque. Nullam vel ipsum mollis mauris porttitor.</li>
								</ul>
							</div>
						</div>
<!--/ about -->
					</div>
					
					<div class="grid-col grid-col-3">
<!-- contacts -->
						<div class="widget-alt widget-alt-contacts">
							<div class="head">Contact Info</div>
							<div class="cont">
								<address><i class="fa fa-map-marker"></i>Interdum et malesuada fames ac ante ipsum primis in faucibus malesuada.</address>
								<ul>
									<li><i class="fa fa-mobile"></i>(123) 456-7890</li>
									<li><i class="fa fa-mobile"></i>(123) 456-7891</li>
								</ul>
								<ul>
									<li><i class="fa fa-envelope-o"></i><a href="#">mail@mail.com</a></li>
									<li><i class="fa fa-link"></i><a href="#">www."the 8".com</a></li>
								</ul>
								<ol>
									<li><a href="#" class="fa fa-twitter"></a></li><!--
									--><li><a href="#" class="fa fa-facebook"></a></li><!--
									--><li><a href="#" class="fa fa-skype"></a></li><!--
									--><li><a href="#" class="fa fa-rss"></a></li><!--
									--><li><a href="#" class="fa fa-dribbble"></a></li>
								</ol>
							</div>
						</div>
<!--/ contacts -->	
					</div>
					
					<div class="grid-col grid-col-3">
<!-- RECENTLY ADDED --> 
						<div class="widget-alt widget-alt-posts">
							<div class="head">Recently Added</div>
							<div class="cont">
								<ul>
                                	<li>
                           
                <!-- ASHOP - Recently Added -->             
                           <script language="JavaScript" src="top.js.php?items=4&layout=3"></script>
                           
							<!--	</li>
									<li>
										<a href="#"><img src="../test_folder/pic/recent-posts/item-2.jpg" alt="item-1" width="58" height="58" /></a>
										<p><a href="#">Etiam mi sapien, luctus ac tempor quis</a><i class="fa fa-angle-right"></i><span>October 12, 2014</span></p>
									</li>
									<li>
										<a href="#"><img src="../test_folder/pic/recent-posts/item-3.jpg" alt="item-1" width="58" height="58" /></a>
										<p><a href="#">Etiam mi sapien, luctus ac tempor quis</a><i class="fa fa-angle-right"></i><span>October 10, 2014</span></p> -->
                                	</li>
								</ul>
							</div>
						</div>
<!--/ RECENTLY ADDED -->						
					</div>
					
					<div class="grid-col grid-col-3">
<!-- feedback -->
						<div class="widget-alt widget-alt-feedback">
							<div class="head">Shoot a Message</div>
							<div class="cont">
								<form action="../test_folder/php/contacts-process.php" method="post" id="widget-form">
									<input type="text" name="name" placeholder="Name">
									<input type="email" name="email" placeholder="E-mail">
									<textarea cols="30" rows="5" name="message" placeholder="Message"></textarea>
									<div id="widget_server_responce"></div>
									<div class="buttons">
										<button type="reset">Reset</button><!--
										--><button type="submit">Send</button>
									</div>
								</form>
							</div>
						</div>
<!--/ feedback -->							
					</div>
				</div>
			</footer>
<!--/ page footer top -->
            
            
<!-- page footer bottom -->
			<footer class="page-footer-bottom">
				<div class="grid-row">
					<!-- secondary nav -->
					<nav class="secondary-nav">
						<ul>
							<li><a href="#">Home</a></li><!--
							--><li><a href="#">Features</a></li><!--
							--><li><a href="#">Pages</a></li><!--
							--><li><a href="#">Portfolio</a></li><!--
							--><li><a href="#">Blog</a></li><!--
							--><li><a href="#">Shop</a></li><!--
							--><li><a href="#">Contacts</a></li>
						</ul>
					</nav>
					<!--/ secondary nav -->
				
					<!-- copyrights -->
					<div class="copyrights">Veteransurns.us © 2015. All rights reserved.</div>
					<!--/ copyrights -->
				</div>
			</footer>
<!--/ page footer bottom -->
</div>




</body>
</html>