<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><!-- AShopname --> - Contact Us</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta name="Author" content="">
<meta name="Keywords" content="">
<meta name="Description" content="">
<link rel="stylesheet" href="../includes/ashopcss.inc.php" type="text/css" />
<link rel="stylesheet" href="../css/layout.css" />
<link rel="stylesheet" href="../css/affiliate<!-- AShop_affiliate_id --><!-- /AShop_affiliate_id -->.css" />
</head>
<body>
<div class="wrapper">
  <div id="header">
    <table width="990" border="0" cellspacing="0" cellpadding="5" align="center">
      <tr>
        <td width="30%" style="padding-left: 20px;"><img src="../images/logo.gif" alt="<!-- AShopname -->" /></td>
        <td width="70%" align="right" valign="bottom" class="bannerhead"><!-- AShopcustomerlinks --></td>
      </tr>
    </table>
  </div>
  <div class="menucontainer">
  <div class="menubar">
	<!-- AShopmenu -->
	<!-- /AShopmenu -->
	<div style="float: right;">
	<table cellpadding="0" cellspacing="0" border="0"><tr><td align="left" valign="bottom" style="white-space:nowrap;"><form action="index.php" method="post" style="margin-bottom: 0px;"><input class="ashopsearchfield" type="text" size="20" name="searchstring" /> <input type="image" src="../images/searchbutton.gif" style="vertical-align: bottom; border: none;" /></form></td></tr></table>
	</div>	
 </div>
 </div>
 <div align="center" style="clear: both;">      
  	<table width="600" border="0" align="center"><tr><td><br>
	<div class="ashoppageheadertext2" align="center"><span style="font-size: 18px;"><b>Contact Us</b></span></div><br>
	<!-- AShoperrormessage -->
<form action="mailform.php" method="post">
  <table border="0" cellpadding=3 width="100%" style="border: 1px solid #000;">
    <tr> 
      <td width="27%" align="right"><font face="Arial, Helvetica, sans-serif" size="2">First name:</font></td>
      <td width="73%" align="left"> 
        <input type="text" name="firstname" value="<!-- Mailform_firstname -->" size="20">
      </td>
    </tr>
    <tr> 
      <td width="27%" align="right"><font face="Arial, Helvetica, sans-serif" size="2">Last name:</font></td>
      <td width="73%" align="left"> 
        <input type="text" name="lastname" value="<!-- Mailform_lastname -->" size="20">
      </td>
    </tr>
    <tr>
      <td width="27%" align="right"><font face="Arial, Helvetica, sans-serif" size="2">Email:</font></td>
      <td width="73%" align="left">
        <input type="text" name="email" value="<!-- Mailform_email -->" size="30">
      </td>
    </tr>
    <tr>
      <td width="27%" align="right"><font face="Arial, Helvetica, sans-serif" size="2">Confirm email:</font></td>
      <td width="73%" align="left">
        <input type="text" name="confirmemail" value="<!-- Mailform_confirmemail -->" size="30">
      </td>
    </tr>
    <tr>
      <td width="27%" align="right"><font face="Arial, Helvetica, sans-serif" size="2">Phone:</font></td>
      <td width="73%" align="left">
        <input type="text" name="phone" value="<!-- Mailform_phone -->" size="30">
      </td>
    </tr>
    <tr>
      <td width="27%" align="right"><font face="Arial, Helvetica, sans-serif" size="2">URL</font></td>
      <td width="73%" align="left">
        <input type="text" name="url" value="<!-- Mailform_url -->" size="30">
      </td>
    </tr>
    <tr>
      <td width="27%" align="right"><font face="Arial, Helvetica, sans-serif" size="2">Subject:</font></td>
      <td width="73%" align="left">
        <input type="text" name="subject" value="<!-- Mailform_subject -->" size="46" maxlength="70">
      </td>
    </tr>
    <tr>
      <td width="27%" align="right" valign="top"><font face="Arial, Helvetica, sans-serif" size="2">Message:</font></td>
      <td width="73%" align="left">
        <textarea name="message" cols="40" rows="7"><!-- Mailform_message --></textarea>
      </td>
    </tr>
    <tr> 
      <td width="27%" align="right"><font face="Arial, Helvetica, sans-serif" size="2">Security Code:</font></td>
      <td width="73%" align="left"><!-- AShopsecurityimage --></td>
    </tr>
    <tr> 
      <td width="27%" align="right"><font face="Arial, Helvetica, sans-serif" size="2">Type Security Code:</font></td>
      <td width="73%" align="left"> 
        <input type="text" name="securitycheck" size="7" maxlength="6">
      </td>
    </tr>
    <tr> 
      <td width="27%" align="right">&nbsp;</td>
      <td width="73%" align="left">
        <input type="hidden" name="random" value="<!-- AShopsecuritycode -->">
        <input type="image" src="../images/submit-en.png" class="ashopbutton" border="0" name="submit"><br><br>
      </td>
    </tr>
  </table>
</form>
<br>
<table width="75%" border="0" align="center"><tr><td align="left" valign="top">
<span class="maintext">
<b>Address:</b><br>
<!-- AShopname --><br>
<!-- AShopaddress --><br>
</td><td align="right" valign="top">
<b>Telephone:</b><br>
<!-- AShopphone --><br>
</tr></tr></table>
	</td></tr></table>
<!-- AShoperrormessage2 -->
</div>
<div class="push"></div>
</div>
<div class="footerwrapper">
	<div class="footer">
		<table width="990" cellpadding="5" cellspacing="0" border="0" align="center"><tr><td>
			<!-- AShopname -->
		</td></tr></table>
	</div>
</div>
</body>
</html>