<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#"
      xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta property="og:title" content="<!-- AShoptitle -->"/>
<meta property="og:description" content="<!-- AShopmetadescription -->"/>
<meta property="og:image" content="<!-- AShopimage -->"/>
<meta name="Author" content="" />
<meta name="Keywords" content="<!-- AShopmetakeywords -->" />
<meta name="Description" content="<!-- AShopmetadescription -->" />
<base href="<!-- AShopURL -->/" />
<title><!-- AShoptitle --></title>
<link rel="stylesheet" href="<!-- AShopcss -->" type="text/css" />
<link rel="stylesheet" href="css/layout.css" />
<link rel="stylesheet" href="css/affiliate<!-- AShop_affiliate_id --><!-- /AShop_affiliate_id -->.css" />
<link rel="stylesheet" href="css/colorbox.css" />
</head>
<body>
<!-- AShopnewsletterform -->
<div class="wrapper">
  <div id="header">
    <table width="990" border="0" cellspacing="0" cellpadding="5" align="center">
      <tr>
        <td width="30%" style="padding-left: 20px;"><img src="images/logo.gif" alt="<!-- AShopname -->" /></td>
        <td width="70%" align="right" valign="bottom" class="bannerhead"><!-- AShopcustomerlinks --></td>
      </tr>
    </table>
  </div>
  <div class="menucontainer">
  <div class="menubar">
	<!-- AShopmenu -->
	<!-- /AShopmenu -->
	<div style="float: right;">
	<table cellpadding="0" cellspacing="0" border="0"><tr><td align="left" valign="bottom" style="white-space:nowrap;"><form action="index.php" method="post" style="margin-bottom: 0px;"> <input class="ashopsearchfield" type="text" size="20" name="searchstring" /> <input type="hidden" name="shop" value="<!-- AShopmemberid -->"><input type="image" src="images/searchbutton.gif" style="vertical-align: bottom; border: none;" /></form></td></tr></table>
	</div>
 </div>
 </div>
 <div style="clear: both;"></div>
<div class="container">
	<table width="100%" border="0" cellspacing="0" cellpadding="0" style="padding-top: 16px;">
      <tr>
        <td width="180" valign="top" style="padding-left: 8px; padding-right: 8px;">
		<!-- AShopcategories -->
		<!-- /AShopcategories -->
		<br />

		<!-- AShopmanufacturers -->
		<!-- /AShopmanufacturers -->

		<br />
		<!-- AShoptopandlatest -->
		<!-- /AShoptopandlatest -->
		</td>
        <td valign="top" align="center">

		<!-- AShopstart -->
		<!-- AShopend -->

		</td>
        <td width="180" valign="top" style="padding-left: 8px; padding-right: 8px;">
		<table class="ashopboxtable" id="cartbox" cellspacing="0"><tr><td class="ashopboxheader">&nbsp;&nbsp;<img src="images/carticon.gif" style="vertical-align: text-bottom;" alt="Cart" />&nbsp;&nbsp;&nbsp;Your cart:</td></tr>
		<tr><td class="ashopboxcontent">
		
		<!-- AShopsubtotal -->
		
		<br /><br /><div align="center">
		
		<!-- AShopcartbuttons -->
		
		</div></td></tr></table><br />

		<table class="ashopboxtable" cellspacing="0"><tr><td class="ashopboxheader">&nbsp;&nbsp;&nbsp;Language</td></tr>
		<tr><td class="ashopboxcontent" align="center">
		
		<!-- AShoplanguages -->

		</td></tr></table><br />

		<table class="ashopboxtable" cellspacing="0"><tr><td class="ashopboxheader">&nbsp;&nbsp;&nbsp;Currency</td></tr>
		<tr><td class="ashopboxcontent" align="center">
		
		<!-- AShopcurrencies -->
		
		</td></tr></table><br />

		<table class="ashopboxtable" cellspacing="0"><tr><td class="ashopboxheader">&nbsp;&nbsp;&nbsp;News/Links</td></tr>
		<tr><td class="ashopboxcontent">
		
		<!-- AShopnews -->
		<!-- /AShopnews -->
		
		</td></tr></table>
		</td>
      </tr>
    </table></div>
            <div class="push"></div>

</div>
<div class="footerwrapper">
        <div class="footer">
		<table width="990" cellpadding="5" cellspacing="0" border="0" align="center"><tr><td>
          <!-- AShopname -->
		</td></tr></table>
        </div>
</div>
</body>
</html>