<html>
<head>
<title>Thank you for applying for a shopping mall seller account at %ashopname%!</title>
</head>
<body>
	<font face="Arial, Helvetica, sans-serif" size="2">
	<font size="3"><p>Thank you %firstname% %lastname% for applying for a shopping mall seller account at %ashopname%!</p></font>
	<p>You have selected the shop name: <b>%shopname%</b> which will be activated manually when we have approved your application.</p>
	<p>Your user name is: <b>%username%</b>, your password will be sent to you when your account is activated.</p>
	</font>
</body>
</html>