<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta property="og:title" content="<!-- AShoptitle -->"/>
<meta property="og:description" content="<!-- AShopmetadescription -->"/>
<meta property="og:image" content="<!-- AShopimage -->"/>
<meta name="Author" content="" />
<meta name="Keywords" content="<!-- AShopmetakeywords -->" />
<meta name="Description" content="<!-- AShopmetadescription -->" />
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<base href="<!-- AShopURL -->/" />
<title><!-- AShoptitle --></title>
<link rel="stylesheet" href="<!-- AShopcss -->" type="text/css" />
<link rel="stylesheet" href="css/jquery.mobile-1.0.1.min.css" />
<link rel="stylesheet" href="css/base.css" />
<link rel="stylesheet" href="css/affiliatemobile<!-- AShop_affiliate_id --><!-- /AShop_affiliate_id -->.css" />
<script src="includes/jquery-1.7.1.min.js"></script>
<script src="includes/jquery.mobile-1.0.1.min.js"></script>
</head>
<body>
<div data-role="page" class="type-interior">
  <div data-role="header" data-position="inline">
    <h1><img src="images/logomobile.gif" alt="<!-- AShopname -->" /></h1>
	<a href="index.php" data-icon="home" data-iconpos="left" data-direction="reverse" data-ajax="false" class="ui-btn-left jqm-home">Home</a>
	<span class="ui-btn-right"><!-- AShopcustomerlinks --></span>
	<div data-role="navbar">
  <ul>
	<li><a href="aboutus.php" data-ajax="false">About Us</a></li>
	<li><a href="affiliate/signupform.php" data-ajax="false">Affiliates</a></li>
	<li><a href="wholesale/signupform.php" data-ajax="false">Wholesale</a></li>
    </ul>
</div>
  </div>
<div data-role="content">
	<div class="content-secondary">
		<!-- AShopcategorieslist -->
		<!-- /AShopcategorieslist -->
	<div data-role="collapsible" data-theme="b" data-content-theme="d" data-collapsed="" id="cartbox">
		<h3>Your cart:</h3>
		<ul data-role="listview" data-inset="true">
		<li class="ashopboxcontent">
		
		<!-- AShopsubtotal -->
		
		<br /><br /><div align="center">
		
		<!-- AShopcartbuttons -->
		
		</div></li></ul>
	</div>
	</div>
	<div class="content-primary">
	<form action="index.php" method="post" style="margin-bottom: 0px;" data-ajax="false"><input type="search" id="searchfield" class="ashopsearchfield" type="text" size="20" name="searchstring" /> <input data-role="button" type="submit" value="Search" /></form>
		<!-- AShopstart -->
		<!-- AShopend -->

	</div></div>
<div data-role="footer">
          <p align="center" class="footertext"><a href="emerchant/mailform.php" data-ajax="false">Contact Us</a> | <a href="terms.php" data-ajax="false">Terms &amp; Conditions</a></p>
</div>

</body>
</html>